<header>{{ user.username | titlecase }}'s profile</header>
<div class="member-details-container">
  <section>
    <nb-card>
      <nb-card-header>
        <img [src]="user.photoUrl" alt="profile-picture" class="full-width" />
      </nb-card-header>
      <nb-card-body>
        <p>
          Location: {{ user.city | titlecase }}, {{ user.country | titlecase }}
        </p>
        <p>Member Since: {{ user.created | date }}</p>
        <p>Last Active: {{ user.lastActive | date }}</p>
      </nb-card-body>
    </nb-card>
  </section>
  <section class="other-info">
    <nb-card>
      <nb-tabset>
        <nb-tab tabTitle="About">
          <div class="tab-content">
            <h3>Description</h3>
            {{ user.introduction }}
            <h3>Looking For</h3>
            {{ user.lookingFor }}
          </div>
        </nb-tab>
        <nb-tab tabTitle="Interests">
          <div class="tab-content">
            <h3>Interests</h3>
            {{ user.interests }}
          </div>
        </nb-tab>
        <nb-tab tabTitle="Photos">
          <div class="tab-content">
            <gallery [items]="photos"></gallery>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Messages">
          Messages
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </section>
</div>
