.left {
  margin-left: auto;
}

h3 {
  cursor: pointer;
}

.active {
  color: lightgreen;
}

nb-action {
  cursor: pointer;
}

nb-layout-header {
  display: flex;
}

.branding {
  width: 15rem;
}

.menu-right {
  display: flex;
  align-items: center;
  img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
  }
}

.nav-menus {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
